.body {
    margin-left:25%;
    margin-right: 10%;
    padding:1px 16px;
    height: 100%
}

// .all {
//     height: 100%;
//     background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(213, 239, 243)), to(rgb(213, 239, 243)));
// }